In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('cosmiccleaned_07_24.csv')
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Gene name', 'Sample name', 'ID_sample',
       'MUTATION_ID', 'Primary site', 'Mutation AA', 'Tumour origin', 'Age'],
      dtype='object')

In [5]:
df.head()
df.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [6]:
gnas=df[df['Gene name'].str.contains('GNAS')]
gnas

,Gene name,Sample name,ID_sample,MUTATION_ID,Primary site,Mutation AA,Tumour origin,Age
2733,GNAS,IPMN4,1691638,115152721,pancreas,p.R844C,NS,NaN
2734,GNAS,2785393,2785393,115152707,large_intestine,p.R844H,NS,73.00
2735,GNAS,Grade1-11,2906731,115157252,meninges,p.A210P,recurrent,15.00
2736,GNAS,2351989,2351989,115152707,pancreas,p.R844H,NS,NaN
2737,GNAS,2088623,2088623,115152707,bone,p.R844H,NS,18.00
...,...,...,...,...,...,...,...,...
7498,GNAS,MTP5_76,2875756,115152721,pancreas,p.R844C,NS,73.00
7499,GNAS,HCC6952_T4,2803207,115152721,liver,p.R844C,primary,32.00
7500,GNAS,1881459,1881459,115152721,large_intestine,p.R844C,NS,68.00
7501,GNAS,2,2493380,115152721,small_intestine,p.R844C,primary,NaN
7506,GNAS,T3021,2296158,115153896,large_intestine,p.L589I,NS,76.58

In [6]:


# Assuming your DataFrame is named 'df'
# Extract the numeric part from the 'Mutation AA' column
# gnas['Numeric_part'] = gnas['Mutation AA'].str.extract(r'(\d+)').astype(float)
# gnas['numaric part']=gnas['Mutation AA']
# lst=[]
# for i in gnas['Mutation AA']:
#     lst.append(i[3:-1])
# gnas['numericpart']=pd.Series(lst)

gnas['numeric'] = gnas['Mutation AA'].str[3:-1]

C:\Users\oktay\AppData\Local\Temp\ipykernel_16432\1870372416.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gnas['numeric'] = gnas['Mutation AA'].str[3:-1]

In [8]:
# gnas['numeric']=gnas['numeric'].astype(int)
# Filter out non-numeric values and convert to integers
gnas['numeric'] = pd.to_numeric(gnas['numeric'], errors='coerce')

C:\Users\oktay\AppData\Local\Temp\ipykernel_16432\3079088810.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gnas['numeric'] = pd.to_numeric(gnas['numeric'], errors='coerce')

In [10]:
lgnas=gnas[gnas['numeric']>350]
lgnas.to_excel('LongGnas.xlsx')

# to do
remove sage

In [8]:
df.drop(df[df['Gene name'].str.contains('ENST')].index,inplace=True)
df.drop(df[df['Gene name']=='SAGE1'].index,inplace=True)

In [ ]:
#remove sage1

In [7]:
df['Gene name'].value_counts()

Gene name
GNAS     2834
GNAQ     1308
GNA11     890
SAGE1     569
GNA13     305
SAG       205
GNAI2     197
GNB1L     176
GNB1      168
GNA15     162
ARRB2     160
GNA14     160
ARRB1     159
GNB3      128
ARR3      128
GNAI1     125
GNB5      119
CSAG1      69
CSAG2       2
Name: count, dtype: int64

In [12]:
arrb2=df[df['Gene name']=='ARRB2']
gnas=df[df['Gene name']=='GNAS']
gna11=df[df['Gene name']=='GNA11']
gna13=df[df['Gene name']=='GNA13']
gnaq=df[df['Gene name']=='GNAQ']
sag=df[df['Gene name']=='SAG']
arrb1=df[df['Gene name']=='ARRB1']
gnb3=df[df['Gene name']=='GNB3']
gna14=df[df['Gene name']=='GNA14']
arr3=df[df['Gene name']=='ARR3']

###  Write each DataFrame to a separate excel sheet for each gene name

In [9]:
# Create an ExcelWriter object
writer = pd.ExcelWriter('cosmicMutations_07_2024.xlsx', engine='xlsxwriter')

# Write each DataFrame to a separate sheet
arrb2['Mutation AA'].value_counts().to_excel(writer, sheet_name='arrb2')
gnas['Mutation AA'].value_counts().to_excel(writer, sheet_name='gnas')
gna11['Mutation AA'].value_counts().to_excel(writer, sheet_name='gna11')
gna13['Mutation AA'].value_counts().to_excel(writer, sheet_name='gna13')
gnaq['Mutation AA'].value_counts().to_excel(writer, sheet_name='gnaq')
sag['Mutation AA'].value_counts().to_excel(writer, sheet_name='sag')
arrb1['Mutation AA'].value_counts().to_excel(writer, sheet_name='arrb1')
gnb3['Mutation AA'].value_counts().to_excel(writer, sheet_name='gnb3')
gna14['Mutation AA'].value_counts().to_excel(writer, sheet_name='gna14')
arr3['Mutation AA'].value_counts().to_excel(writer, sheet_name='arr3')

# Close the ExcelWriter object after writing
writer.close()

In [10]:
# list all in excel
arrb2['Mutation AA'].value_counts()

Mutation AA
p.A269T    5
p.R210H    3
p.A261T    3
p.P92H     3
p.S205L    3
          ..
p.K251R    1
p.A382V    1
p.T297I    1
p.R414Q    1
p.R26Q     1
Name: count, Length: 122, dtype: int64

In [11]:
sag=df[df['Gene name']=='SAG']
sag

,Gene name,Sample name,ID_sample,MUTATION_ID,Primary site,Mutation AA,Tumour origin,Age
709,SAG,TCGA-DR-A0ZM-01,1779769,126243056,cervix,p.E394K,primary,61.00
710,SAG,2492703,2492703,126243375,skin,p.G396E,metastasis,NaN
711,SAG,T358480,2658655,126245572,large_intestine,p.R179H,NS,73.25
713,SAG,TCGA-FR-A726-01,2197831,126243335,skin,p.R294K,NS,90.00
714,SAG,CG43,2816745,126241433,large_intestine,p.V238M,NS,35.00
...,...,...,...,...,...,...,...,...
1619,SAG,TCGA-D3-A3C1-06,2121526,126242516,skin,p.R175Q,NS,27.00
1640,SAG,5-VS037-T7,2869867,126241906,skin,p.G148E,NS,83.00
1644,SAG,38,2955811,126241706,soft_tissue,p.V403I,metastasis,77.00
1646,SAG,1273,2772704,126242303,urinary_tract,p.L176F,primary,70.00
1658,SAG,SJG-031,2561469,126241706,upper_aerodigestive_tract,p.V403I,primary,65.00

In [22]:
sag['Mutation AA'].value_counts()

Mutation AA
p.V403I    12
p.G396E     5
p.R175Q     5
p.G148E     4
p.G58R      3
           ..
p.Y372N     1
p.V49M      1
p.D23G      1
p.G296D     1
p.L176F     1
Name: count, Length: 148, dtype: int64

In [13]:
df['Gene name'].value_counts()

Gene name
GNAS     2834
GNAQ     1308
GNA11     890
GNA13     305
SAG       205
GNAI2     197
GNB1L     176
GNB1      168
GNA15     162
ARRB2     160
GNA14     160
GNB3      128
ARR3      128
GNAI1     125
GNB5      119
CSAG1      69
CSAG2       2
Name: count, dtype: int64

In [12]:
df[df['Gene name']=='GNAQ']

,Gene name,Sample name,ID_sample,MUTATION_ID,Primary site,Mutation AA,Tumour origin,Age
5859,GNAQ,1990628,1990628,103587958,eye,p.R183Q,primary,NaN
5860,GNAQ,UM_0230,2948106,103587938,eye,p.Q209P,primary,67.38
5861,GNAQ,2274344,2274344,103587929,meninges,p.Q209L,primary,NaN
5863,GNAQ,2869187,2869187,184770326,soft_tissue,p.Q209L,NS,79.00
5864,GNAQ,1774636,1774636,184770326,eye,p.Q209L,primary,NaN
...,...,...,...,...,...,...,...,...
8335,GNAQ,535,2930914,103587938,eye,p.Q209P,primary,54.00
8338,GNAQ,123,2748095,103589526,stomach,p.I324S,primary,NaN
8341,GNAQ,HCT-116,1998442,103593526,large_intestine,p.R37H,primary,NaN
8348,GNAQ,TCGA-EE-A2MJ-06,2121681,103592022,skin,p.S122F,NS,60.00
8349,GNAQ,517,2478436,103592771,adrenal_gland,p.F272_L273delinsLI,primary,66.00

2024-07-16